django>=2.1
django-bootstrap-static

git+https://gitlab.com/koala-lms/django-learning.git@master#egg=django-koalalms-learning
git+https://code.guillaume-bernard.fr/guilieb/django-gaccounts.git@master#egg=django-gaccounts
