django>=2.1
django-guardian

# Bootstrap and fontawesome
django-bootstrap-static

# Support markdown syntax
markdown
django-markdownx

# Process SCSS files
libsass
django-compressor
django-sass-processor