{% extends "base.html" %}
{% load i18n static sass_tags %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'learning/learning.scss' %}"/>
{% endblock %}

{% block extrahead %}{{ block.super }}
    <link rel="icon" type="image/png" href="{% static 'learning/favicon.png' %}" />
{% endblock %}

{% block content %}
    <div class="d-flex" id="wrapper">
        <div id="learning-sidebar" class="bg-light border-right pt-2">
            <div class="ml-2 mr-2">
                <div>
                    <h5 class="text-center">{% trans "Courses" %}</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a
                            href="{% url 'learning:course/my' %}"
                            class="list-group-item list-group-item-action {% if request.resolver_match.view_name == 'learning:course/my' %}active{% else %}bg-light{% endif %}"
                    >{% trans "My courses" %}</a>
                    <a
                            href="{% url 'learning:course/add' %}"
                            class="list-group-item list-group-item-action {% if request.resolver_match.view_name == 'learning:course/add' %}active{% else %}bg-light{% endif %}"
                    >{% trans "Create a course" %}</a>
                </div>
            </div>
        </div>

        <div id="learning-content" class="container pt-2">
            {% include "partials/messages.html" %}
            {% block learning_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
