{% extends "learning/course/base.html" %}
{% load i18n %}

{% block courses_content %}
    <div class="clearfix">
        <h2 class="float-left">{% blocktrans with name=object.name %}Update course “{{ name }}”{% endblocktrans %}</h2>
        <div class="float-right">
            <a class="btn btn-outline-info" href="{% url 'learning:course/detail' pk=object.id %}">{% trans "Cancel and get back to course" %}</a>
        </div>
    </div>
    <hr>
    <form method="post">
        {% csrf_token %}
        {% include "learning/course/course_form.html" %}
        <button type="submit" class="btn btn-primary float-right">{% trans "Update course" %}</button>
    </form>
{% endblock %}