{% extends "learning/course/base.html" %}
{% load i18n learning guardian_tags %}

{% block courses_content %}
    {% get_obj_perms request.user for object as "course_perms" %}

    <div class="clearfix">
        <a href="" class="float-left"><h2>{{ object.name }}</h2></a>
        <div class="ml-2 float-right">
            {% if "delete_course" in course_perms %}
                <a href="{% url 'learning:course/delete' pk=object.id %}" class="btn btn-outline-danger"><i class="fa fa-trash"></i> {% trans "Delete" %}</a>
            {% endif %}
            {% if "change_course" in course_perms %}
                <a href="{% url 'learning:course/update' pk=object.id %}" class="btn btn-outline-primary"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <p>{% trans "This course is:" %} <span class="badge badge-{{ course.state|get_state_badge_type }} p-2"
                                           data-toggle="tooltip" data-placement="top" title="{{ course.state|get_state_badge_title }}">{{ course.get_state_display }}</span>
    <hr>
    <div class="p-3" id="learning_course_description">
        {{ object.description | render_markdown }}
    </div>

    <hr>

    <div class="clearfix mb-2">
        <h3 class="float-left">{% trans "Activities" %}</h3>
        <div class="float-right">
            {% if "change_course" in course_perms %}
                <a href="{% url 'learning:course/detail/add_activity' pk=object.id %}" class="btn btn-outline-success"><i class="fa fa-plus"></i> {% trans "Add a new activity" %}
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="col-md-1">{% trans "Rank" %}</th>
            <th scope="col" class="col-md-6">{% trans "Name" %}</th>
            <th scope="col" class="col-md-3">{% trans "Author" %}</th>
            <th scope="col" class="col-md-2">{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in object.activities %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ activity.name }}</td>
                <td>{{ activity.author.display_name }}</td>
                <td>
                    <div class="clearfix">
                        <div class="float-right">
                            {% get_obj_perms request.user for activity as "activity_perms" %}
                            {% if "view_activity" in activity_perms %}
                                <a href="{% url 'learning:activity/detail' pk=activity.id %}" class="btn btn-sm btn-outline-secondary"
                                   data-toggle="tooltip" data-placement="top" title="{% trans "View course" %}"><i class="fa fa-eye"></i></a>
                            {% endif %}
                            {% if "change_activity" in activity_perms %}
                                <a href="{% url 'learning:activity/update' pk=activity.id %}" class="btn btn-sm btn-outline-primary"
                                   data-toggle="tooltip" data-placement="top" title="{% trans "Update the course" %}"><i class="fa fa-pen"></i></a>
                            {% endif %}
                            {% if "change_course" in course_perms %}
                                {% include 'learning/course/unlink_attached_activity_modal.html' with activity=activity course=course %}
                                <button type="button" class="btn btn-sm btn-outline-warning"
                                        data-toggle="modal" data-target="#unlink-modal-{{ activity.id }}"><i class="fa fa-unlink"></i></button>
                            {% endif %}
                            {% if "change_course" in course_perms and "delete_activity" in activity_perms %}
                                {% include 'learning/course/delete_attached_activity_modal.html' with activity=activity %}
                                <button type="button" class="btn btn-sm btn-outline-danger"
                                        data-toggle="modal" data-target="#delete-modal-{{ activity.id }}"><i class="fa fa-trash"></i></button>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}