{% extends "learning/activity/base.html" %}
{% load i18n %}

{% block activity_content %}
    <h2>{% trans "Create a new activity" %}</h2>
    <form method="post">
        {% csrf_token %}
        {% include "learning/activity/course_activity_form.html" with form=course_activity_form %}
        <hr>
        {% include "learning/activity/activity_form.html" with form=activity_form %}
        <button type="submit" class="btn btn-primary float-right">{% trans "Create a new activity" %}</button>
    </form>
{% endblock %}