{% extends "learning/activity/base.html" %}
{% load i18n %}

{% block activity_content %}
    <div class="card">
        <div class="card-header">
            <h2 class="m-0">{% blocktrans with name=object.name %}Deleting “{{ name }}”…{% endblocktrans %}</h2>
        </div>
        <div class="card-body">
            <p>{% blocktrans with name=object.name %}You are about to delete the activity “{{ name }}”. This implies a lot of things, including:{% endblocktrans %}</p>
            <ul>
                <li>{% trans "Every course that use this activity will no longer have access to it." %}</li>
                <li>{% trans "Everything will be removed from the database." %}</li>
            </ul>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">{% trans "Ok, I understand, delete this activity" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}