{% extends "learning/activity/base.html" %}
{% load i18n learning guardian_tags %}

{% block activity_content %}
    <div class="clearfix">
        <a href="" class="float-left"><h2>{{ object.name }}</h2></a>
        <div class="ml-2 float-right">
            {% get_obj_perms request.user for object as "activity_perms" %}
            {% if "delete_activity" in activity_perms %}
                <a href="{% url 'learning:activity/delete' pk=object.id %}" class="btn btn-outline-danger"><i class="fa fa-trash"></i> {% trans "Delete" %}</a>
            {% endif %}
            {% if "change_activity" in activity_perms %}
                <a href="{% url 'learning:activity/update' pk=object.id %}" class="btn btn-outline-primary"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="p-3" id="learning_course_description">
        {{ object.description | render_markdown }}
    </div>
{% endblock %}