div#learning-sidebar {
    min-height: 100vh;
    flex: 0 0 20%;
}

div#learning_course_description {
    border-radius: 0.25rem;
    background-color: #f7f7f7;

    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
}

h5.sidebar-title {
    margin-top: 1rem;
}