{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Koala{% endblock %}</title>

    {% block extrastyle %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

    {% block extrahead %} {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="{% url 'home' %}">Koala</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.view_name == 'learning:index' %}active{% endif %}"
                   href="{% url 'learning:index' %}">{% trans "Learning" %}</a>
            </li>
        </ul>

        {% include 'accounts/partials/navbar-dropdown.html' %}
    </nav>
</header>

{% block content %} {% endblock %}

</body>
</html>

